.characterCard {
  text-align: center;
  background-color: rgb(233, 170, 126);
  font-family: "Rock Salt", cursive;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 14px;
}

.characterCard img {
  height: 400px;
  width: 270px;
  border-radius: 14px;
}

.loadTitle {
  font-family: "Rock Salt", cursive;
  font-size: 14px;
  background-color: lightblue;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
}
